<html>

<body bgcolor=#d4a3ae>

    <center>
<h1> IRIS FLOWER DETECTION</h1><br>

        <form method="POST", action="{{url_for('sub')}}">
            <b> First value : <input type="text", name="a", placeholder="Enter 1"><br><br>
                Second value : <input type="text", name="b", placeholder="Enter 2"><br><br>
                Third value : <input type="text", name="c", placeholder="Enter 3"><br><br>
                Fourth value : <input type="text", name="d", placeholder="Enter 4"><br><br></b>
                <input type="submit", value="predict">
        </form>

    </center>
    
</body>

</html>